@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-100: #ffdf8c;
  --color-primary-500: #ff6c00;
  --font-main: 'Nunito', sans-serif;

}
body {
  background-color: var(--color-primary-100);
  font-family: var(--font-main);
}
